<div class="container-fluid">
	<div class="row">
		
		<div class="col-sm-2 col-md-2 col-lg-2 col-xl-1">
			<%= render "shared/btn" %>
		</div>

		<div class="col-sm-10 col-md-10 col-lg-10 col-xl-11">
			<%= render "shared/form-portfolio" %>
		</div>

	</div>
</div>