<div class="container">
	<div class="row">
	
		<% @posts.each do |post| %>
			<div class="col-md-4">
				<div class="card-deck mb-4">
					<div class="card" style="height: 400px;">
						<h5 class="card-header"><%= post.title %></h5>
						<div class="card-body">
							<p class="card-text">
								<%= truncate(post.content, length: 180) %>
								<%= link_to '讀更多', post_path(post), class: "badge badge-primary" %>
							</p>
						</div>
						<div class="card-footer">
							<small class="text-muted"><%= time_ago_in_words(post.created_at) %> ago</small>
						</div>
					</div>
				</div>
			</div>
		<% end %>

	</div>
</div>
