// 全部網站統一定義
* {
	font-family: 微軟正黑體;
}

//定義 jumbotron 字體顏色及高
.jumbotron {
	color: white;
	height: 220px;
}

//以下是定義 jumbotron 的 p 標籤字體大小
.jumbotron p {
	font-size: 16px;
}

//設定 new 與 edit 頁面裡的 span 與 h4 並排
.form-group span,h4 {
	display: inline-block;
}

//設定 admin/show 頁面 p 的字體大小
.ft-size p {
	font-size: 20px;
}

//設定整個 body 的背景顏色
body {
	background-color: #FFFAFA;
}

//設定 public/show 頁面 p 的字體大小
.ft-size p {
	font-size: 20px;
}